<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/scripts/anime.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/s.css">
    <title>Document</title>
</head>
<body>

<div class="el el1"></div>
<div class="el el2"></div>
<div class="el el3"></div>

<script>
var path = anime.path('.motion-path-demo path');

anime({
  targets: '.el',
  translateX: path('x'),
  translateY: path('y'),
  rotate: path('angle'),
  easing: 'linear',
  duration: 2000,
  loop: true
});
</script>
</body>
</html>